<nav class="topnav">
    <a href="/"><img class="nav-logo" src="/images/full_logo_white.png" alt="mr.coffee white logo"></a>
    <ul>
        <li><a href="http://localhost:3000/users">Users</a></li>
        <li><a href="http://localhost:3000/new/user">New user</a></li>
        <li><a href="http://localhost:3000/new/schedule">New schedule</a></li>
    </ul>
</nav>