<nav class="topnav">
    <a href="/"><img class="nav-logo" src="/images/full_logo_white.png" alt="mr.coffee white logo"></a>
    <ul>
        <li><a href="http://localhost:3000/new/user">Sign Up</a></li>
    </ul>
</nav>