<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <h1 class="page-title"><%- error %></h1><br>
  <section class="back-to-main">
    <a href="http://localhost:3000">Back to main page</a>
  </section>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>