<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="box-form">
    <div>
      <h1 class="page-title"><%- error %></h1><br>
    </div>
    <a href="http://localhost:3000" class="back-to-main">Back to main page</a>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>