<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="flex-container">
    <div class="box-form">
      <h2>Login to schedule</h2>
      <form action="" method="post">
          <div>
              <label for="email">Email</label>
              <div for="email"></div>
          </div>
          <input id="email" name="email"><br>
          <div>
              <label for="password">Password</label>
              <div for="password"></div>
              <input type="text" id="password" name="password"><br>
          </div>
          <div>
            <a href="#"><p>Forget Password?</p></a>
          </div>
          <div class="submit-btns">
            <input type="submit" class="btn btn-submit" id="submit-btn" value="Sign In"></input>
            <p>Don't have an account? <a href="http://localhost:3000/new/user">Sign Up!</a></p>
          </div>
          
      </form>
      </div>
      <div>
        <img src="/images/burgundy-54.png" class="login-img flex-login" alt="barista">
      </div>
    </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>